body{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-family: 'Montserrat', sans-serif;
	color: 000;
	font-size: 16px;
	background: #fff;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

.header {
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	font-size: 85px;
	color: white;
	border: 2px solid #fff;
	text-shadow: 5px 0 3px #000, 
	0 1px 1px #000, 
	-1px 0 1px #000, 
	0 -1px 1px #000;
	background: grey;
}

.content {
	position: relative;
	background: #f0f0f0;
}

.table {
	margin-top: 65px;
	margin-left: 55px;
	font-size: 18px;
	border: 3px solid black;
	margin-bottom: 50px;
}

tr {
	border: 3px solid black;
}

th {
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 24px;
	border: 3px solid black;
}

.caption {
	margin-bottom: 15px;
	color: white;
	border: 2px solid #fff;
	text-shadow: 2px 0 3px #000, 
	0 1px 1px #000, 
	-1px 0 1px #000, 
	0 -1px 1px #000;
	font-size: 45px;
}

.head {
	background: grey;
}

.left_offer {
	position: absolute;
}

.right_offer {
	position: absolute;
	left: 1340px;
	top: -50px;
}

.tablenme {
	margin-bottom: 25px;
	text-align: center;
	color: white;
	border: 2px solid #fff;
	text-shadow: 2px 0 3px #000, 
	0 1px 1px #000, 
	-1px 0 1px #000, 
	0 -1px 1px #000;
	font-size: 45px;
}