{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,800;1,400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../static/main/css/inventory.css">
	<title>{{name}}</title>
</head>

<body>



	<div class="header">
		Inventory of 732 kafedra
	</div>


	<div class="content">
		<div class="left_offer">
			<table class="table">
				
				<caption class="caption">Inventory of 732</caption>
				<tr class='table_head'>
					<th class="head">Name</th>
					<th class="head">Cabinet</th>
					<th class="head">People</th>
				</tr>
				{% for line in object_list %}

				<tr>
					<th>{{ line.object_name }}</th>
					<th>{{ line.object_cabinet }}</th>
					<th>{{ line.object_people }}</th>					
				</tr>

				{% endfor %}

			</table>
		</div>
		<div class="right_offer">
			<form class="form-style-7">
				<p class="tablenme">Search Form</p>
				<ul>
					<li>
    					<label for="name">What's searching?</label>
    					<input type="text" name="search" maxlength="100">
    					<span>Enter your request here</span>
					</li>
					
					<li>
    					<select name="type" class="field-select">
        					<option value="object_name">Name</option>
        					<option value="object_cabinet">Cabinet</option>
        					<option value="object_people">People</option>
        				</select>
        				<span>Enter type of searching here</span>
					</li>
					<li>
    					<input type="submit" value="Submit" >
    					<style>
    						.reset {
    							text-decoration: none;
    							margin-left: 75px;
    							background: red;
    							color: white;
								border: 2px solid #fff;
								text-shadow: 5px 0 3px #000, 
								0 1px 1px #000, 
								-1px 0 1px #000, 
								0 -1px 1px #000;
								padding-left: 25px;
								padding-right: 25px;
								padding-bottom: 10px;
								padding-top: 10px;
								border-radius:7px;
    						}
    						.reset:hover{
    							background: black;
    							transition: 1s;
    						}
    					</style>
    					<a class="reset" href="/?search=&type=object_name">reset</a>
					</li>
				</ul>
			</form>
			<style>
				.rekl{
					margin-top: 75px;
				}
				.rekl:hover{

				}
			</style>
		</div>
	</div>

</body>

</html>


<style type="text/css">
.form-style-7{
	max-width:400px;
	margin:50px auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}
.form-style-7 ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.form-style-7 li{
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
}
.form-style-7 li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.form-style-7 li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #B9B9B9;
	font-size: 14px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus 
{
}
.form-style-7 li > span{
	background: #F3F3F3;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.form-style-7 textarea{
	resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
	background: #2471FF;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #5994FF;
	border-radius: 3px;
	color: #D2E2FF;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
	background: #6B9FFF;
	color:#fff;
}
</style>
